@import 'tailwindcss';
@import 'tw-animate-css';

@font-face {
  font-family: 'Aanakotmai';
  src: url('assets/fonts/anakotmai-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aanakotmai';
  src: url('assets/fonts/anakotmai-medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aanakotmai';
  src: url('assets/fonts/anakotmai-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Custom */
  --color-primary-dark: var(--primary-dark);
  --color-primary-dark-foreground: var(--primary-dark-foreground);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-light-foreground: var(--secondary-light-foreground);
  --color-gray: var(--gray);
  --color-gray-foreground: var(--gray-foreground);
  --color-gray-soft: var(--gray-soft);
  --color-gray-soft-foreground: var(--gray-soft-foreground);
  --color-blue: var(--blue);
  --color-blue-foreground: var(--blue-foreground);
  --color-blue-soft: var(--blue-soft);
  --color-blue-soft-foreground: var(--blue-soft-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-success-soft: var(--success-soft);
  --color-success-soft-foreground: var(--success-soft-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-soft: var(--warning-soft);
  --color-warning-soft-foreground: var(--warning-soft-foreground);
  --color-orange: var(--orange);
  --color-orange-foreground: var(--orange-foreground);
  --color-orange-soft: var(--orange-soft);
  --color-orange-soft-foreground: var(--orange-soft-foreground);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-danger-soft: var(--danger-soft);
  --color-danger-soft-foreground: var(--danger-soft-foreground);
  --color-purple: var(--purple);
  --color-purple-foreground: var(--purple-foreground);
  --color-purple-soft: var(--purple-soft);
  --color-purple-soft-foreground: var(--purple-soft-foreground);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #ff6a00;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #0f172a;
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Custom */
  --primary-dark: #262027;
  --primary-dark-foreground: #ff6a00;
  --secondary-light: #414141;
  --secondary-light-foreground: oklch(0.985 0 0);
  --gray: #d1d5db;
  --gray-foreground: #111827;
  --gray-soft: #f3f4f6;
  --gray-soft-foreground: #4b5563;
  --blue: #3b82f6;
  --blue-foreground: #ffffff;
  --blue-soft: #dbeafe;
  --blue-soft-foreground: #2563eb;
  --success: #22c55e;
  --success-foreground: #ffffff;
  --success-soft: #dcfce7;
  --successsuccess-soft-foreground: #16a34a;
  --warning: #facc15;
  --warning-foreground: #78350f;
  --warning-soft: #fef9c3;
  --warning-soft-foreground: #ca8a04;
  --orange: #f97316;
  --orange-foreground: #ffffff;
  --orange-soft: #fef3c7;
  --orange-soft-foreground: #ea580c;
  --danger: #ef4444;
  --danger-foreground: #ffffff;
  --danger-soft: #fee2e2;
  --danger-soft-foreground: #b91c1c;
  --purple: #8b5cf6;
  --purple-foreground: #ffffff;
  --purple-soft: #ede9fe;
  --purple-soft-foreground: #7c3aed;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  html,
  body {
    height: 100%;
    overflow: hidden;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
